<h1>Listing emailus</h1>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emailus.each do |emailu| %>
  <tr>
    <td><%= emailu.email %></td>
    <td><%= emailu.message %></td>
    <td><%= link_to 'Show', emailu, class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Destroy', emailu, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>