<% @webprofiles.each do |webprofile| %>
	<h1><%= webprofile.title %></h1>
	<% if signed_in? && current_user.admin? %>
		<small><%= link_to "edit content", edit_webprofile_path(webprofile) %></small>
	<% end %>
	<br />
	<p><%= sanitize(webprofile.content) %></p>
<% end %>

<% if signed_in? && current_user.admin? %>
	<div class="accordion" id="newpost">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#newpost" href="#addnewhomepost">Add new content here</a>
			</div>
			<div id="addnewhomepost" class="accordion-body collapse">
				<div class="accordion-inner">
					<%= render 'webprofiles/form' %>
				</div>
			</div>
		</div>
	</div>
<% end %>