<h1>Emerald Green Corp. Officers</h1>
<table class="table">
	<tr>
		<td><strong>President: </strong></td>
		<td>Mr. Manuel C. Elauria</td>
	</tr>
	<tr>
		<td><strong>Board of Directors: </strong></td>
		<td>Mrs. Lucila M. Elauria</td>
	</tr>
	<tr>
		<td></td>
		<td>Mrs. Liberty M. Elauria</td>
	</tr>
	<tr>
		<td></td>
		<td>Mrs. Digna E. Chunaco</td>
	</tr>
	<tr>
		<td><strong>General Manager: </strong></td>
		<td>Mr. Mar M. Elauria</td>
	</tr>
	<tr>
		<td><strong>Corporate Secretary: </td>
		<td>Engr. Nancy V. Elauria</td>
	</tr>
</table>
