<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#Contactnumbers">
				Contact Numbers
			</a>
		</div>
		<div id="Contactnumbers" class="accordion-body collapse in">
			<div class="accordion-inner">
				<table class="table">
					<tr>
						<td><strong>Telephone numbers: </strong></td>
						<td>9259902</td>
					</tr>
					<tr>
						<td></td>
						<td>8360086</td>
					</tr>
					<tr>
						<td><strong>Email address: </strong></td>
						<td>infoegc@yahoo.com</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#email">
				Send us an Email
			</a>
		</div>
		<div id="email" class="accordion-body collapse">
			<div class="accordion-inner">
				Email form here...
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#smstext">
				Send us an SMS message
			</a>
		</div>
		<div id="smstext" class="accordion-body collapse">
			<div class="accordion-inner">
				SMS form here...
			</div>
		</div>
	</div>
</div>