@import "bootstrap";

h1 {
	color: gray;
}

article {
	font-size: small;
}

.navbar-inner {
  background-color: #6bd283; 
  background-image: none;
  background-repeat: no-repeat;
}

.carousel {
	width: 600px;
	height: 325px;
	margin-bottom: 175px;
	.carousel-caption {
		color: #ddd;
		text-align: center;
	}
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: green;
}



.table tr:hover {
	color: green;
	background-color: #bbb;
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: yellow;
  text-decoration: none;
  background-color: green;
  background-image: none;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}