<p id="notice"><%= notice %></p>

<%= link_to 'Back', :back, class: "btn btn-success" %>

<p>
  <b>Image:</b>
  <%= image_tag(@image.image) %>
</p>

<% if signed_in? %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
