<h1>Listing images</h1>

<table class="table">
  <tr>
    <th>User</th>
    <th>Image</th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= User.find_by_id(image.user_id).name %></td>
    <td><%= link_to image_tag(image.image, size: "200x150"), image %></td>
    <% if signed_in? && current_user.admin? %>
      <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
